*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgb(3, 3, 3));
    display: flex;
  
}

.box{
    width: 30%;
    height: 100vh;
    background: linear-gradient(135deg, black);
    border: 3px solid black;
    box-shadow: 2px 2px 20px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.uzim{
    width: 205px;
    height: 210px;
    border-radius: 50%;
    border: 4px solid white;
    position: relative;
    top: 10px;
}

.box h1{
    position: relative;
    top: 20px;
}

.ura{
    gap: 40px;
    position: relative;
    top: 30px;
}

button{
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    border: 2px solid black;
    box-shadow: 1px 1px 10px 2px;
    font-size: 18px;
    position: relative;
    top: 210px;
    box-shadow: -20px 20px 1px white;
}

button:nth-child(2){
    position: relative;
    top: 100px;
}

button:active{
    scale: 1.1;
    background-color: aqua;
}

.h55{
    width: 300px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: -50px;
}

.bog{
    font-size: 30px;
    position: relative;
    top: 100px;
}

.social{
    display: flex;
    gap: 40px;
    position: relative;
    top: 130px;
    font-size: 40px;
    color: white;
}

.soila{
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 400px;
    top: -700px;
    gap: 30px;
    z-index: 2000000;
}

.ples{
    width: 300px;
    height: 40px;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding-left: 100px;
}

button{
    width: 200px;
    height: 40px;
    background-color: aqua;
}

